<div class="container">
	<div class="starter-template">
		<h1>鄂温克旗科兴马业发展有限公司</h1>

		<table class="table table-striped table table-bordered .table-condensed" height="194" cellspacing="1" cellpadding="0" width="90%" bgcolor="#cccccc" border="0" frame="void">
			<tbody>
				<tr bgcolor="#ffffff">
					<td height="24" width="27%">
					<p align="center">公司总部</p></td>
					<td height="24" width="73%">
					<p style="MARGIN-BOTTOM: 6px; MARGIN-LEFT: 20px; MARGIN-TOP: 6px">鄂温克旗科兴马业发展有限公司 <span style="color:#ffffff;"></span></p></td></tr>
					<tr bgcolor="#ffffff">
						<td height="24" width="27%">
						<p align="center">公司地址</p></td>
						<td height="24" width="73%">
						<p style="MARGIN-BOTTOM: 6px; MARGIN-LEFT: 20px; MARGIN-TOP: 6px">鄂温克旗</p></td></tr>
						<tr bgcolor="#ffffff">
							<td height="24" width="27%">
							<p align="center">邮政编码</p></td>
							<td height="24" width="73%">
							<p style="MARGIN-BOTTOM: 6px; MARGIN-LEFT: 20px; MARGIN-TOP: 6px">215011 </p></td></tr>
							<tr bgcolor="#ffffff">
								<td height="24" width="27%">
								<p align="center">电　　话</p></td>
								<td height="24" width="73%">
								<p style="MARGIN-BOTTOM: 6px; MARGIN-LEFT: 20px; MARGIN-TOP: 6px">0512-65238881 65239993</p></td></tr>
								<tr bgcolor="#ffffff">
									<td height="24" width="27%">
									<p align="center">客服电话</p></td>
									<td height="24" width="73%">
									<p style="MARGIN-BOTTOM: 6px; MARGIN-LEFT: 20px; MARGIN-TOP: 6px">0512-65211396</p></td></tr>
									<tr bgcolor="#ffffff">
										<td height="24" width="27%">
										<p align="center">传　　真</p></td>
										<td height="24" width="73%">
										<p style="MARGIN-BOTTOM: 6px; MARGIN-LEFT: 20px; MARGIN-TOP: 6px">0512-65219993 </p></td></tr>
										<tr bgcolor="#ffffff">
											<td height="24" width="27%">
											<p align="center">电子邮件</p></td>
											<td height="24" width="73%">
												<p style="MARGIN-BOTTOM: 6px; MARGIN-LEFT: 20px; MARGIN-TOP: 6px">xiaw61@gmail.com </a></p></td></tr></tbody></table>
											</div>
										</div>