	<div class="starter-template">
		<div class="row">
		<img class="lead col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1" src="./images/cover.jpg" class="img-responsive " alt="Cinque Terre">
		</div>

		<div class="row">
		<h1>鄂温克旗科兴马业发展有限公司</h1>
		<p class="lead">科兴马业发展有限公司于2009年正式成立，企业发展至今，已具备相当规模：拥有工作室200平方米，马匹配种室256平方米，种公马厩308平方米，马医院120平方米，马厩2250平方米，露天马匹活动场所1000平方米，储草棚1000平方米，遛马圈360平方米。现拥有英纯血种公马6匹、布琼尼种公马1匹，汗血种公马1匹，三河种公马1匹，英纯血母马21匹，繁殖母马及其它当地良种马65匹，改良一代三河马23匹。科兴马业育马基地成为“国际科技合作基地”，对于拓展、加强全区与国内外知名企业的交流合作，学习、借鉴国内外先进工作经验，挖掘、开发马产业链将起到积极作用。
		</p>
				</div>

	</div>
