<div class="starter-template">
	<div class="row">
		<img class="lead col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1" src="./images/cover.jpg" class="img-responsive " alt="Cinque Terre">
	</div>
	<div class="row">
		<h1>鄂温克旗科兴马业发展有限公司</h1>

		<p class="lead col-xs-offset-1 col-xs-10" >科兴马业发展有限公司于2009年正式成立，企业发展至今，已具备相当规模：拥有工作室200平方米，马匹配种室256平方米，种公马厩308平方米，马医院120平方米，马厩2250平方米，露天马匹活动场所1000平方米，储草棚1000平方米，遛马圈360平方米。现拥有英纯血种公马6匹、布琼尼种公马1匹，汗血种公马1匹，三河种公马1匹，英纯血母马21匹，繁殖母马及其它当地良种马65匹，改良一代三河马23匹。科兴马业育马基地成为“国际科技合作基地”，对于拓展、加强全区与国内外知名企业的交流合作，学习、借鉴国内外先进工作经验，挖掘、开发马产业链将起到积极作用。
		</p>
		<p class="lead col-xs-offset-1 col-xs-10 ">
		公司成立于2009年，以“保护三河马，发扬三河马”为宗旨，以培育偏乘型三河马为主要育种目标，发展至今育有马匹209匹，其中：成年母马130匹、种公马10匹、育成马69匹。现拥有草场10746亩，实验室40平方米、采精室108平方米，配种室256平方米、马诊疗室120平方米，工作室303平方米、种马厩428平方米，普通马厩2250平方米，储草库1000平方米、遛马圈360平方米、露天活动场1000平方米等基础设施。实验室配备仪器设备12台（套）。2014年公司通过科技部中法合作项目《马匹繁育关键技术的引进示范项目》，引进一整套法国先进的冷冻精液制作设备。
		为提高科兴马业育马基地的育种技术水平，公司长期与内蒙古农业大学、内蒙古自治区家畜改良工作站、法国卡苏科技公司等国内外科研、技术推广单位进行技术合作交流。特邀留学日本的育马专家希古尔嘎和内蒙古农业大学副校长、农学兽医学双博士、博士后、博士生导师芒来教授，专门指导育马基地马匹的选种选配、繁殖等技术工作。
		<p class="lead col-xs-offset-1 col-xs-10">
		通过建设呼伦贝尔市科技特派员创业示范基地、鄂温克旗科技特派员工作服务站、草原育马“田间学校”，在政策与项目的支持下，组建技术团队。现今，科兴马业育马技术团队由19名科技特派员和专业技术员组成，兼备理论知识与实践能力，已成为一支马的育种繁殖、疫病防治及科学化饲养管理综合技术队伍。
		
		</p>
		<p class="lead col-xs-offset-1 col-xs-10">
		在长期不断地努力下，鄂温克旗科兴马业发展有限公司的育马事业得到充分肯定，被国家农业部列为“农业技术推广体系改革与建设示范县项目”的示范基地；被国家公益性行业（农业科研专项）的马驴产业技术研究与试验示范项目办授予“新三河马培育试验示范基地”称号。先后获得“十一五”自治区科技计划执行优秀团队奖；中国国际马业展览会颁发的“中国杰出马主”称号；由科兴马业培育的优秀马匹在2014年中国国际马产业博览会的蒙古马及改良马选美大赛中获得改良组的一等奖、二等奖、三等奖和2名优秀奖。
		<p class="lead col-xs-offset-1 col-xs-10">
		科兴马业公司技术力量雄厚，基地设施及科研设备齐全，在保护三河马优良遗传资源的基础上，引进先进技术，大力培养乘用型三河马。在产品马培育开发方面进一步探索，将继续走产、学、研相结合的科学发展道路，为社会、为市场输送更多的优良三河马。
		</p>
	</div>
</div>